In [1]:
import pandas as pd
import time
import sys
from unidecode import unidecode
import re
def player_data(start_year,end_year,ps=False):
    if ps == False:
        season_type='leagues'
    else:
        season_type='playoffs'
    frames=[]
    for year in range(start_year,end_year+1):
        url = 'https://www.basketball-reference.com/'+season_type+'/NBA_'+str(year)+'_totals.html'

        df=pd.read_html(url)[0]
        df=df[df.Player!='Player']
        df=df[df.Player!='League Average']
        time.sleep(1)
        url2='https://www.basketball-reference.com/'+season_type+'/NBA_'+str(year)+'_advanced.html'
        df2=pd.read_html(url2)[0]
        df2=df2[df2.Player!='Player']
        columns=[col for col in df2.columns if col not in df.columns]
        columns.append('Player')
        df2=df2[columns]


        year_df=df.merge(df2)
        unnamed=[col for col in year_df if 'unnamed' in col.lower()]
        year_df.drop(columns=unnamed,inplace=True)
        year_df['year']=year
        frames.append(year_df)
        print(year)

        time.sleep(2)
    return pd.concat(frames)
start_year=1957
end_year=2025

#player_stats=player_data(start_year,end_year)

#player_stats.to_csv('player_totals.csv',index=False)
#player_stats.to_csv('player_stats_raw.csv',index=False)

#player_stats_ps=player_data(start_year,end_year,ps=True)
#player_stats_ps.to_csv('player_totals_ps.csv',index=False)
#player_stats_ps.to_csv('player_stats_ps_raw.csv',index=False)

scoring = pd.read_csv('scoring.csv')

master_index=pd.read_csv('player_stats.csv')
master_index=master_index[['player','team','nba_id','year']]
master_index.rename(columns={'player':'Player','team':'Tm'},inplace=True)
master_index['Player'] = master_index['Player'].apply(lambda x: unidecode(str(x)))
scoring['old_name']=scoring['Player']
scoring['Player']=scoring['Player'].str.strip('*')
scoring2=scoring.merge(master_index,on=['Player','year','Tm'],how='left')
scoring2.loc[scoring2['Player'] == 'J.J. Redick', 'nba_id'] = 200755
scoring2['Player']=scoring2['old_name']
scoring2.drop(columns='old_name',inplace=True)
scoring2.to_csv('scoring.csv',index=False)
scoring2

                     Player        TS%   PTS      MP   Tm   G  year     nba_id
0           Zaid Abdul-Aziz  51.502980  15.9  2459.0  HOU  79  1974    76002.0
1      Kareem Abdul-Jabbar*  56.254004  28.1  3548.0  MIL  81  1974    76003.0
2                 Don Adams  45.660701  14.9  2298.0  DET  74  1974    76012.0
3             Rick Adelman*  44.808816  13.5   618.0  CHI  55  1974    76015.0
4              Lucius Allen  53.568266  24.2  2388.0  MIL  72  1974    76027.0
...                     ...        ...   ...     ...  ...  ..   ...        ...
25743        Thaddeus Young  51.622419  12.6    89.0  PHO  10  2024   201152.0
25744            Trae Young  58.444656  34.3  1942.0  ATL  54  2024  1629027.0
25745        Omer Yurtseven  56.609195  19.7   545.0  UTA  48  2024  1630209.0
25746           Cody Zeller  48.124793  11.6   320.0  NOP  43  2024   203469.0
25747           Ivica Zubac  67.079147  21.9  1794.0  LAC  68  2024  1627826.0

[25748 rows x 8 columns]

In [2]:

scoring = pd.read_csv('scoring_ps.csv')

master_index=pd.read_csv('player_stats_ps.csv')
master_index=master_index[['player','team','nba_id','year']]
master_index.rename(columns={'player':'Player','team':'Tm'},inplace=True)
master_index['Player'] = master_index['Player'].apply(lambda x: unidecode(str(x)))
scoring['old_name']=scoring['Player']
scoring['Player']=scoring['Player'].str.strip('*')
scoring2=scoring.merge(master_index,on=['Player','year','Tm'],how='left')
scoring2.loc[scoring2['Player'] == 'J.J. Redick', 'nba_id'] = 200755
scoring2['Player']=scoring2['old_name']
scoring2.drop(columns='old_name',inplace=True)
scoring2.to_csv('scoring_ps.csv',index=False)

In [6]:
scoring = pd.read_csv('totals.csv')

master_index=pd.read_csv('player_stats.csv')
master_index=master_index[['player','team','nba_id','year']]
master_index.rename(columns={'player':'Player','team':'Tm'},inplace=True)
master_index['Player'] = master_index['Player'].apply(lambda x: unidecode(str(x)))
scoring['old_name']=scoring['Player']
scoring['Player']=scoring['Player'].str.strip('*')
scoring2=scoring.merge(master_index,on=['Player','year','Tm'],how='left')
scoring2.loc[scoring2['Player'] == 'J.J. Redick', 'nba_id'] = 200755
scoring2['Player']=scoring2['old_name']
scoring2.drop(columns='old_name',inplace=True)
scoring2.to_csv('totals.csv',index=False)
scoring2[scoring2.nba_id.isna()]

Empty DataFrame
Columns: [Player, TS%, PTS, MP, Tm, G, FTA, FGA, year, nba_id]
Index: []

In [8]:
scoring = pd.read_csv('totals_ps.csv')

master_index=pd.read_csv('player_stats_ps.csv')
master_index=master_index[['player','team','nba_id','year']]
master_index.rename(columns={'player':'Player','team':'Tm'},inplace=True)
master_index['Player'] = master_index['Player'].apply(lambda x: unidecode(str(x)))
scoring['old_name']=scoring['Player']
scoring['Player']=scoring['Player'].str.strip('*')
scoring2=scoring.merge(master_index,on=['Player','year','Tm'],how='left')
scoring2.loc[scoring2['Player'] == 'J.J. Redick', 'nba_id'] = 200755
scoring2['Player']=scoring2['old_name']
scoring2.drop(columns='old_name',inplace=True)
scoring2.to_csv('totals_ps.csv',index=False)
scoring2[scoring2.nba_id.isna()]

Empty DataFrame
Columns: [Player, TS%, PTS, MP, Tm, G, FTA, FGA, year, nba_id]
Index: []